* { 

    margin: 0em;
    padding: 0em;
}

body{
    
    background-color: white;
     
}

@font-face{
    font-family: 'poppins-medium' ;
    src: url(../fonts/broodtekst/Poppins-Medium.ttf)

}

@font-face{

    font-family:'alegreya';
    src: url(../fonts/headers/AlegreyaSans-Bold.ttf)

}



a{
    text-decoration: none;
    font-family: 'poppins-medium';
    color: rgb(214, 207, 207);
    
}


p { 
    font-family: 'poppins-medium';
    font-size: 1em;
}

h1 {   
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 12%;
    margin-bottom: 12%;
    font-size: 16.6em;
    color: rgb(214, 207, 207); /*donker grijs*/
    
}

h2 { 
    font-family: 'alegreya';
    font-size: 3em;
}


header nav ul {
    
     max-width: 100%;                
     display: flex;
     flex-direction: row;
     list-style-type: none; 
     padding-bottom: 0.5em;
     justify-content: space-around;  /*spacing*/
     
     
}

header nav ul li {
    
    list-style-type: none; 
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    
}

header nav ul li a {

    padding: 1em; 
    text-decoration: none; 
    color: rgb(214, 207, 207);
    transition: 0.2s;
    
}

header nav ul li a:hover{
    color: #7C27F2;
    transition: 0.5s;
    padding: 1em;
    
}

header {

    background-color: rgb(34, 37, 39) ;
    position: fixed;
    width: 100%;
    z-index: 1;
}




main#homepage h1{

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/landingpage/landingpage.jpg);
    text-align: center;
    align-self: center;
    min-width: 100%;
    padding-bottom: 1em;
    margin: 0em;

}


#homepage section:first-of-type{

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;background-color: #2D3032 ;
    color: rgb(214, 207, 207);

}

#homepage section h2{
    padding-top: 0.5em;
    padding-left: 0.8em;
    background-color: #2D3032;
    align-self: center;
    width: 100%;
}

#homepage section p{

    padding: 2em;
    background-color: #2D3032;
}

#homepage section:nth-child(2){
    
    background-color: white

}

#homepage section div:first-of-type, #homepage section div:nth-child(2){

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(34, 37, 39);
    position: relative;
    align-items: center;
    background-size: 10%;
    min-width: 35%;
    height: 15em;
    top: -8em;
    transition: 1s;

}

#homepage section div:nth-child(3){
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/games/steam.jpg);
    min-width: 80%;
    height: 15em;
    margin-bottom: 6em;
    transition: 1s;
    
}

#homepage div:first-of-type:hover, #homepage div:nth-child(2):hover{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(34, 37, 39);
    position: relative;
    align-items: center;
    background-size: 10%;
    min-width: 36%;
    height: 16em;
    top: -8em;
    transition: 0.5s;

}


#homepage section div:nth-child(3):hover{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(34, 37, 39);
    min-width: 82%;
    height: 16em;
    margin-bottom: 6em;
    transition: 0.5s;
    
}

#homepage section div a{

    padding: 2em;
    font-size: 3em; 
    font-family: "alegreya";
    transition: 0.5s;
    
}

#homepage section div a:hover{

    color: #7C27F2;
    transition: 0.5s;
    
}



img.ps5{

    height: 50%;
    width: 50%;
}

/*animatie op bij de console page*/
@keyframes fromlefttoright {

 0% {
    background-position: left, right
  }
 100%{
    background-position: right, right
 }

}

#ps5 { 
 margin-top: 1.5em;
 margin-bottom: 1,5em;
 background-image: url(../images/background/ps5/ps5_background.png);
 background-position: right;
 background-repeat: repeat; 
 background-size: 70%;
 
}

#wiiu{

    animation: fromlefttoright 30s infinite linear;
}

#xbox1{

    animation: fromlefttoright 30s infinite linear;

}

#ps5{

    animation: fromlefttoright 30s infinite linear;  /* animatie naam - hoe snel de animatie gaat - hoe lang de animatie doorloopt*/ 

}

#alienware{

    animation: fromlefttoright 25s infinite linear;

}
/*einde animatie*/

img.xbox1 {

    height: 50%;
    width: 50%;

}

#consoles section p{

background-color: #2D3032;
color: rgb(214, 207, 207);
padding: 2em;

}

#consoles div img{

    max-width: 30%;

}

#consoles h2{

margin-top: 6em;
color: rgb(34, 37, 39);
}

#alienware{

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-image: url(../images/background/alienware/alienware_background.png);
    background-position: right;
    background-repeat: repeat;
    background-size: 75%;

}

#wiiu{

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-image: url(../images/background/wiiu/nintendo_background.png);
    background-position: right;
    background-repeat: repeat;
    background-size: 50%;
}

#xbox1 {

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-image: url(../images/background/xbox1/xbox1_background.png);
    background-position: right;
    background-repeat: repeat;
    background-size: 50%;
}

main#games div{

    display: flex;
    min-width: 100%;
    height: 62.5em;

}

#games div img{

    width: 100%;
    height: 100%;
}

#games h2{

    background-color: #2D3032;
    color: rgb(214, 207, 207) ;
    padding: 0.5em;
    text-align: center;
    
}

#games section p{

    background-color: #2D3032;
    padding: 2em;
    padding-bottom: 3em;
    color: rgb(214, 207, 207);
    
}




#consoles {

    background-image: url(../images/consoles/front.jpg);
    background-size:cover ;
    height: 40em;
    background-repeat: no-repeat;

}




main#platforms {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
   
}



main#platforms h1{

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/landingpage/landingpage_platforms.jpg);
    text-align: center;
    align-self: center;
    width: 100%;
    padding-bottom: 1em;
    margin: 0em;

}

main#platforms div:first-of-type{
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/steam/steam_dark.png);
    background-color: rgb(240, 240, 240); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    min-width: 70%;
    height: 15em;
    margin: 5em;
    align-self: center;
    position: relative;
    align-items: center;
    transition: 1s;
}

main#platforms div:nth-child(3){
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/origin/origin.png);
    background-color: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    min-width: 70%;
    height: 15em;
    align-self: center;
    align-items: center;
    transition: 1s;
}

main#platforms div:nth-child(5){
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/battle_net/battle_net.png);
    background-color: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12%;
    min-width: 70%;
    height: 15em;
    align-self: center;
    align-items: center;
    transition: 1s;
    margin-bottom: 5em;
}

main#platforms div:nth-child(5):hover{
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/battle_net/battle_net_blue.png);
    background-color: rgb(34, 37, 39);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    min-width: 75%;
    height: 16em;
    align-self: center;
    align-items: center;
    transition: 1s;
}



main#platforms div:nth-child(3):hover{
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/origin/origin_white.png);
    background-color: #F24E29;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12%;
    min-width: 75%;
    height: 16em;
    align-self: center;
    align-items: center;
    transition: 1s;
}

main#platforms div:nth-child(4){
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/epic_games/epic_games.png);
    background-color: rgb(240, 240, 240);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    min-width: 70%;
    height: 15em;
    margin: 5em;
    align-self: center;
    align-items: center;
    transition: 1s;
}

main#platforms div:nth-child(4):hover{
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/epic_games/epic_games_white.png);
    background-color: rgb(34, 37, 39);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12%;
    min-width: 75%;
    height: 16em;
    
    transition: 1s;
}

main#platforms div:first-of-type:hover{
    
    display: flex;
    flex-direction: row;
    background-image: url(../images/platforms/background/button/steam/steam.png);
    background-color: #2a475e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13%;
    min-width: 75%;
    height: 16em;
    margin: 5em;
    transition: 1s;
}


#platforms section{

    display:flex;
    flex-direction: column;
    background-color:#2D3032;
    max-width: 100%;

}
    
#platforms section h2{
    
    margin: 2em;  
    color: rgb(240, 240, 240);
    align-self: center;
    
}

#platforms section p{
    
    margin-top: -2em;
    margin-right: 4em;
    margin-left: 4em;
    margin-bottom: 4em;
    color: rgb(240, 240, 240)

}



footer a{
    
   padding: 2em;
   transition: 0.5s;
}

footer a:hover{

    color: #7C27F2;
    transition: 0.5s;

}

footer{

    position: relative;
    bottom: 0;
    background-color: rgb(34, 37, 39);
    padding: 2em;

}

#sources div{

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   
}

#sources div a{
    padding: 1em;
    
    transition: 1s;
    background-color: #2D3032;
}

#sources div a:hover{

    color: #7C27F2;
    transition: 1s;
    background-color: rgb(34, 37, 39)
}